streamlit==1.51.0
openai-whisper==20250625
transformers==4.57.3
accelerate==1.12.0
torch==2.9.1
moviepy==1.0.3
imageio-ffmpeg==0.6.0
librosa==0.11.0
soundfile==0.13.1
jiwer==4.0.0
pandas==2.3.3
numpy==2.3.5
pillow==11.3.0
tqdm==4.67.1
matplotlib==3.10.7